body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0d0f12;
    color: #8fd6d4;
}

#container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 5px;
    margin-bottom: 20px;
    background-color: #101215;
    padding: 10px;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b1e23;
    border: 2px solid #2b2e35;
    font-size: 20px;
    color: #8fd6d4;
    cursor: pointer;
}

.highlighted {
    border-color: #a8e600;
}

#sequence-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #1b1e23;
    padding: 10px;
    border: 2px solid #2b2e35;
    font-size: 18px;
    height: 20%;
}

#message {
    font-size: 18px;
    color: #e60000;
    margin-top: 20px;
}

.hidden {
    display: none;
}

#symbol-selector {
    margin-bottom: 20px;
}

.symbol-button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #1c1e22;
    border: none;
    color: white;
    border-radius: 5px;
}

.symbol-button:hover {
    background-color: #3a3d42;
}

.hidden {
    display: none;
}

#start-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    border: none;
    color: white;
    border-radius: 5px;
}

#start-button:disabled {
    background-color: #777;
    cursor: not-allowed;
}

.main-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.row-highlight, .col-highlight {
    background-color: rgba(255, 255, 0, 0.2);
}

.grid-item.highlighted {
    border-color: #a8e600;
    background-color: rgba(255, 255, 0, 0.5);
}
